<!-- container -->
<div class="flex justify-center min-h-screen mt-4">
  <div
    class="mx-4 container h-fit p-4 mb-4 bg-white border-zinc-300 border shadow-md relative"
  >
    <h1 class="text-2xl font-bold text-blue-500">Create new post</h1>
    <p *ngIf="state != 'error'" class="text-sm text-zinc-500">
      A new post will be created with your requested parameters.
    </p>
    <p *ngIf="state == 'error'" class="text-sm text-red-500">
      {{ status }}
    </p>
    <hr class="my-4" />

    <!-- inputs container -->
    <div class="space-y-4">
      <!-- picture -->
      <div class="flex gap-4 items-center flex-wrap">
        <label class="font-bold text-zinc-600 w-32">Post image URL :</label>
        <app-input1
          name="url"
          placeholder="enter post image URL"
          type="url"
          class="grow"
          (change)="setPic($event.target)"
        ></app-input1>
      </div>

      <!-- title -->
      <div class="flex gap-4 items-center flex-wrap">
        <label class="font-bold text-zinc-600 w-32">Title :</label>
        <app-input1
          name="title"
          placeholder="enter post title"
          type="text"
          class="grow"
          (change)="setTitle($event.target)"
        ></app-input1>
      </div>

      <!-- description -->
      <div class="flex gap-4 items-center flex-wrap">
        <label class="font-bold text-zinc-600 w-32">Description :</label>
        <app-input1
          name="description"
          placeholder="enter post description"
          type="text"
          class="grow"
          (change)="setDesc($event.target)"
        ></app-input1>
      </div>

      <!-- Content -->
      <div class="flex gap-4 items-center flex-wrap">
        <label class="font-bold text-zinc-600 w-32">Content :</label>
        <ckeditor
          class="grow border border-blue-500 shadow-blue-400 shadow-sm outline-none overflow-x-scroll"
          [editor]="Editor"
          data=""
          (change)="onChange($event)"
        ></ckeditor>
      </div>
    </div>

    <!-- create post -->
    <div class="mt-8 w-36">
      <app-button1
        title="Create post"
        (click)="state = 'loading'; submit()"
      ></app-button1>
    </div>

    <!-- loading -->
    <app-loading *ngIf="state == 'loading'"></app-loading>
  </div>
</div>
